*.o
test
OZW_log.txt
make_log.txt
zw*.xml
.DS_Store
.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/open-zwave-tcp-socket-server-and-client.iml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
